* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*debug*/
.debug header {
    height: 300px;
}

.debug .head-bottom {
    background-color: blue;
}

.debug .header-nav {
    background-color: orange;
}

.debug .head-top {
    background-color: aquamarine;
}

.debug .tasti {
    border: dashed 2px black;
}

.debug .sez-uno {
    border: 2px solid black;
}

.debug .head {
    background-color: violet;
    border: 1px dashed black;
}

.debug .content-destra {
    background-color: chartreuse;
    border: dashed 1px black;

}

.debug .contenuto{
    border: dashed 1px black;
}

.debug .content-sinistra {
    background-color: brown;
    border: dashed 1px black;

}

.debug .grigio{
    background-color: lightgrey;
}

.debug .content-grande{
    background-color: green;
    border: 2px dashed black;
}

.debug .finale-top{
    background-color: rgb(37, 35, 35);
}


.debug .finale-bottom{
    background-color: rgb(37, 35, 35);
}

.debug .foot-bottom{
    background-color: greenyellow;
}

.debug .info{
    background-color: beige;
    border: dashed 1px black;
}

.logo-footer, .bottone-footer{
    border: dashed 1px black;
}

.debug .foot-top{
    background-color: rosybrown;
}
/*start header*/
.flex-container {
    justify-content: center;
    align-items: center;
    display: flex;
}
.head-top {
    height: 15%;
    justify-content: center;
    align-items: center;
}

.head-bottom {
    height: 85%;
}

.header-nav {
    width: 70%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
}

.tasti {
    flex-grow: 1;
    height: 100%;
}

.logo {
    padding-left: 10px;
    align-items: center;
}

.link {
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

.login {
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.head {
    width: 60%;
    height: 80%;
}
/*start main*/
.principale {
    height: 400px;
}

.contenuto {
    width: 70%;
    height: 80%;
    justify-content: flex-start;
}

.content-sinistra {
    width: 40%;
    height: 100%;
}

.content-destra {
    width: 70%;
    height: 100%;
}

 .grande{
    height: 600px;
}

.content-grande{
    width: 70%;
    height: calc(100% - 80px);
}
/*start footer*/
.finale-top{
    height: 400px;
    border-bottom: 2px solid wheat;
    padding: 20px;
}

.foot-top{
    margin: auto ;
    width: 70%;
    height: 80%; 
    display: flex;  
}

.finale-bottom{
    height: 100px;
    justify-content: center;
    align-items: flex-end;
}

.foot-bottom{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    width: 20%;
}
.info .uno{
    /*da fare!!!!*/
}

.logo-footer, .bottone-footer{
    width: 60px;
    height: 50px;
}
