* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*debug*/
.debug header {
    height: 300px;
}

.debug .head-bottom {
    background-color: blue;
}

.debug .header-nav {
    background-color: orange;
}

.debug .head-top {
    background-color: aquamarine;
}

.debug .tasti {
    border: dashed 2px black;
}

.debug .sez-uno {
    border: 2px solid black;
}

.debug .head {
    background-color: violet;
}

.debug .content-destra {
    background-color: chartreuse;

}

.debug .content-sinistra {
    background-color: brown;

}

.debug .grigio{
    background-color: lightgrey;
}

.debug .content-grande{
    background-color: green;
}

/*css*/

.flex-container {
    justify-content: center;
    align-items: center;
    display: flex;
}


/*start header*/
.head-top {
    height: 15%;
    justify-content: center;
    align-items: center;
}

.head-bottom {
    height: 85%;
}

.header-nav {
    width: 60%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
}

.tasti {
    flex-grow: 1;
    height: 100%;
}

.logo {
    padding-left: 10px;
    align-items: center;
}

.link {
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

.login {
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.head {
    width: 60%;
    height: 80%;
}

/*start main*/

.principale {
    height: 400px;
}

.contenuto {
    width: 70%;
    height: 80%;
    justify-content: flex-start;
}

.content-sinistra {
    width: 40%;
    height: 100%;
}

.content-destra {
    width: 60%;
    height: 100%;
}


 .grande{
    height: 600px;
}

.content-grande{

    width: 70%;
    height: calc(100% - 80px);


}